<style>
    :root {
      --sys-font-family: "LXGW WenKai Mono Lite";
      --zh-font-family: "LXGW WenKai Mono Lite";
      --base-font-family: "LXGW WenKai Mono Lite";
      --code-font-family: "LXGW WenKai Mono Lite";
      --article-font-family: "LXGW WenKai Mono Lite";
    }
  </style>
  
  <script>
    (function () {
      const customFont = document.createElement("link");
      customFont.href =
        "https://cdn.tinqin881.top/LXGWWenKaiMonoLite-Regular/result.css";
  
      customFont.type = "text/css";
      customFont.rel = "stylesheet";
  
      document.head.appendChild(customFont);
    })();
  </script>
  